<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>회원가입</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />

    <link rel="stylesheet" href="/css/home/login.css" />
    <title>Document</title>

    <script src="/js/home/register.js" defer></script>
  </head>
  <body>
    <div class="login-form">
      <form>
        <input id="id" type="text" class="text-field" placeholder="아이디" />
        <input id="name" type="text" class="text-field" placeholder="이름" />
        <input
          id="psword"
          type="password"
          class="text-field"
          placeholder="비밀번호"
        />
        <input
          id="confirm-psword"
          type="password"
          class="text-field"
          placeholder="비밀번호 확인"
        />
        <p id="button" class="social-submit-btn">회원가입</p>
      </form>
      <div class="links">
        <a href="/login">계정이 있으신가요?</a>
      </div>
    </div>
  </body>
</html>
